<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>宋世杰的个人简历</title>
    <meta name="theme-color" content="#ffc91d"/>
    <link href="__STATIC__/home/profile/css/kico.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/home/profile/css/moreduo.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1"/>
</head>
<body>
<aside class="sidebar">
    <div class="avatar">
        <img src="__STATIC__/home/profile/img/avatar.jpg" title="保罗酱"/>
    </div>
    <nav class="nav">
        <a href="#info">资料</a>
        <a href="#skills">技能</a>
        <a href="#works">作品</a>
        <a href="#story">经历</a>
        <a href="#team">最后</a>
    </nav>
</aside>
<main>
    <section id="info">
        <div class="wrap">
            <h2 class="title">个人资料</h2>
            <div class="row">
                <div class="col-l-4">
                    <p>姓名：宋世杰</p>
                    <p>性别：男</p>
                    <p>年龄：24</p>
                    <p>学历：本科</p>
                </div>
                <div class="col-l-4">
                    <p>手机：<a href="tel:13102112093">13102112093</a></p>
                    <p>GitHub：<a href="https://github.com/top-songshijie" target="_blank">top-songshijie</a></p>
                    <p>博客：
                        <a href="https://blog.csdn.net/weixin_42330073" target="_blank">CSDN</a>
                        &nbsp;&nbsp;/&nbsp;&nbsp;
                        <a href="http://47.104.202.142/person/public" target="_blank">个人博客</a>
                    </p>
                    <p>邮箱：<a href="mailto:15900391347@163.com">15900391347@163.com</a></p>
                </div>
                <div class="col-l-4">
                    <p>个人具有一年以上乙方公司开发经验。熟悉微信公众号，小程序的开发流程。有微信支付，支付宝支付的开发经验。熟悉TP3和TP5框架的使用。对lnmp环境有一定的了解。</p>
                </div>
            </div>
        </div>
    </section>
    <section id="skills">
        <div class="wrap">
            <h2 class="title">掌握的技能</h2>
            <div class="row scrollable">
                <div class="col-s-6 col-m-4 center-fixed">
                    <div class="skills-icon">
                        <i class="fab fa-php"></i>
                    </div>
                    <div class="skills-title">
                        <h3>PHP</h3>
                        <p>熟悉Thinkphp3/5框架的应用</p>
                    </div>
                </div>
                <div class="col-s-6 col-m-4 center-fixed">
                    <div class="skills-icon">
                        <i class="fab fa-js-square"></i>
                    </div>
                    <div class="skills-title">
                        <h3>JavaScript</h3>
                        <p>能使用 JQuery Ajax 做数据对接、渲染</p>
                    </div>
                </div>
                <div class="col-s-6 col-m-4 center-fixed">
                    <div class="skills-icon">
                        <i class="fab fa-medium-m"></i>
                    </div>
                    <div class="skills-title">
                        <h3>MySQL</h3>
                        <p>熟练掌握sql语句的应用</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="works">
        <div class="wrap">
            <h2 class="title">个人作品</h2>
            <div class="row">
                <div class="col-s-6">
                    <div class="works-item">
                        <img src="__STATIC__/home/profile/img/works/binkic-2017.jpg"/>
                        <p>缤奇团队 2017 官网</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="story">
        <div class="wrap">
            <h2 class="title">个人经历</h2>
            <div class="row">
                <div class="col-m-8">
                    <ul class="timeline">
                        <li>2017.08：天津职业技术师范大大学本科毕业</li>
                        <li>2017.09：入职天津银河百荣科技有限公司</li>
                        <li>2017.10：使用dedeCMS完成第一个驾校预约双身份系统</li>
                        <li>2017.11：</li>
                    </ul>
                </div>
                <div class="col-m-4 center-fixed">
                    <img src="__STATIC__/home/profile/img/story.png"/>
                </div>
            </div>
        </div>
    </section>
    <section class="content-d" id="team">
        <div class="wrap">
            <h2 class="title">写在最后</h2>
            <div class="row">
                <div class="col-m-6">
                    <p>我的团队 - 缤奇团队由一群热爱科技创新的年轻人所组成，做到了“实际”与“创新”的结合。奇思妙想不乏真正落实。集思广益，生动有趣的创意，尽在缤奇。缤奇团队如今有超过30名成员，各个部门互帮互助，同为一个目标而努力进取着。</p>
                    <p>缤奇团队致力于开发原创游戏、动漫等项目。目前我们已完成项目有手机游戏“色块冲刺”、聊天娱乐项目“小缤机器人”等。正在创作项目有解密游戏“月亮湖的秘密”、VR 项目“梦想码头”等。缤奇官网 &amp; 社区已陆续开放。网站采用团队成员自主编写的 CSS3 自适应框架，针对移动设备有布局优化，缤奇团队有着丰富的网站建设技术能力、有独立的画师以及文编。</p>
                    <p>团队官网：<a href="http://www.wangdahai.cn">http://www.wangdahai.cn</a></p>
                </div>
                <div class="col-m-6 center">
                    <img src="__STATIC__/home/profile/img/team.png"/>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <p>© 2018 By <a href="http://www.wangdahai.cn" title="站长资源" target="_blank">Moreduo</a>.</p>
    </footer>
</main>

<script src="__STATIC__/home/profile/js/kico.js"></script>
<script src="__STATIC__/home/profile/js/moreduo.js"></script>

</body>
</html>