<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>个人博客</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link rel="stylesheet" href="__STATIC__/home/css/index.css"/>
<link rel="stylesheet" href="__STATIC__/home/css/style.css"/>
<script type="text/javascript" src="__STATIC__/home/contact/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/home/js/jquery.SuperSlide.2.1.1.js"></script>
<!--[if lt IE 9]>
<script src="__STATIC__/home/js/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="__STATIC__/home/contact/css/style.css">
</head>

<body>
    <!--header start-->
    {include file="./static/home/header.html" /}
    <!--header end-->
    <!--nav-->
    {include file="./static/home/nav.html" /}
    <!--nav end-->
    <!--content start-->
    <div id="content">
         <!--left-->
        <div class="left" id="c_left">
            <div class="s_tuijian">
            <h2>美文推荐</h2>
            </div>
            <div class="content_text">
                {volist name="list" id="vo"}
                <div class="wz">
                <h3><a href="{:url('study/detail',array('id'=>$vo['id']))}" title="{$vo.title}">{$vo.title}</a></h3>
                <dl>
                <dt><img src="{$vo.thumb}" width="200"  height="123" alt=""></dt>
                <dd>
                <p class="dd_text_1">{$vo.briefcontent}</p>
                <p class="dd_text_2">
                <span class="left author">{$vo.author}</span><span class="left sj">时间:{$vo.create_time}</span>
                <span class="left fl">分类:<a href="#" title="{$vo.cate_name}">{$vo.cate_name}</a></span>
                    <span class="left yd"><a href="{:url('study/detail',array('id'=>$vo['id']))}" title="阅读全文">阅读全文</a>
                </span>
                <div class="clear"></div>
                </p>
                </dd>
                <div class="clear"></div>
                </dl>
                </div>
                {/volist}
            </div>
        </div>
         <!--left end-->
      <!--侧边栏目分类-->
         {include file="./static/home/side.html" /}
      <!--end-->
    </div>
    <!--content end-->
    <!--footer start-->
    {include file="./static/home/footer.html" /}
    <!--footer end-->
    <!--侧边联系导航 start-->
    {include file="./static/home/contact.html" /}
    <!--侧边联系导航 end-->
</body>
</html>
